.svg-animation{
    /* width: 300px;
    height: 300px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}
.svg-animation svg{
    width: 100%;
}
.logo{
    margin-top: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    width: 40%;
    height: 40%;
}
#outerhex{
    animation: outhexanim 2s infinite;
    transform-origin: center;
}
#innerhex{
    animation: inhexanim 2s infinite;
    transform-origin: center;
}

@keyframes inhexanim {
    0% {fill: red;
    }
    100% {fill: #00E3E1;
        transform: rotateZ(360deg);
    }
}
@keyframes outhexanim {
    0% {fill: red;
    }
    100% {fill: #00E3E1;
        transform: rotateZ(-360deg);
        
    }
}
.social{
    display: flex;
    justify-content: center;
}
.button .icon{
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    padding-top: 15px;
    border-radius: 60px;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease-out;
    
}
.button:hover .icon{
    color: white;
}
.button:nth-child(1):hover .icon{
    background-color: #4267b2;
}
.button:nth-child(2):hover .icon{
    background-color: #f34f29;
}
.button:nth-child(3):hover .icon{
    background-color: #e1306c;
}
.button:nth-child(4):hover .icon{
    background-color: #1da1f2;
}
.social .button:nth-child(1) span{
    color: #4267b2;
}
.social .button:nth-child(2) span{
    color: #f34f29;
}
.social .button:nth-child(3) span{
    color: #e1306c;
}
.social .button:nth-child(4) span{
    color: #1da1f2;
}
.button{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: white;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: inline-block;
    transition:all 0.3s ease-out;
    margin-left: 10px;
    cursor: pointer;
}
.social .button span{
    font-size: 20px;
    font-weight: 550;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-in;
}
.social .button:hover{
    width: 200px;
}
@media screen and (max-width:600px){
    .logo{
        display: none;
    }
    .title{
        margin-top: 300px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:440px){
    .button{
        display: block;
    }
}
