* {box-sizing: border-box;}
body{
  overflow: auto;
  background-color: #f4f7ff;
}
.trans{
  background-color: #000000;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  opacity: 1;
  animation: transAnime 0.5s ;
}
@keyframes transAnime {
  100% {opacity: 0;}
}
.anime.is-active{
  opacity: 1;
  pointer-events: all;

}
.background{  
  width:100%;
  height:100%;
  position: fixed;
  z-index: -1;
}
.header{
  z-index: 1;
  top:0;
  left: 0;
  list-style-type: none;
  position:fixed;
  font-size: 30px;
  margin:0px;
  padding:15px;
  display: flex;
  width: 100%;
  align-items:center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  box-shadow:10px 10px 5px grey;
  background-color: #ebf0fc;
  /* background-image: linear-gradient(to right,#7b4397,#dc2430); */
}
.header :not(:first-child) a:hover{
  padding: 5px;
  border-radius: 10px;
  animation: menuAnimator 700ms;
  background-color: #000000;
  color: white;

}
@keyframes menuAnimator {
  0%{background-color: #f4f7ff;
     color: #000;
  }
  100%{background-color: #000000;
       color: white;
  }
}
li{
  cursor: pointer;
  margin-left: 1%;
}
a{
  text-decoration: none;
  color: black;
}
.main{
  text-align: center;
  margin-top: 20vh;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.col{
  margin-left: 10%;
  align-items: center;
  display:flex;
  flex-wrap: wrap;
}
.boxes{
  color: #0a0808;
  padding:10px;
  height:200px;
  width: 180px;

  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 10px 10px 5px grey;
  background-color: rgba(255, 255,255, 0.05);
  cursor: pointer;
  transition: transform 100ms;
}
.boxes:hover{
  transform: scale(1.15);
}
.content {
  color:rgb(0, 0, 0);
  font-size: 20px;
  padding:3px;
}
#inp{
  width:45vw;
  height:30px;    
}
.popup1{
  width: 100vw;
  height:100%;
  overflow: hidden;
  top: 0;
  bottom: 0;
  align-content: center;
  align-items: center;
  display: none;
  justify-content: center;
  position: fixed;
}
.popup {
  padding: 20px;
  background-image: linear-gradient(#33cffa,#b3f1ff);
  border-radius: 10px;
  width: 40vw;
  height:50vh;
  position: absolute;
  overflow: auto;
  transition: all 1s;
  }
  
.popup h2 {
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popupHead{
  display: flex;
  justify-content: space-between;
}
.conten{
  text-overflow: ellipsis;
}
.popup .close {
  position: relative;
  float: right;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #ff0000;
}
.popup .conten {
  max-height: 40%;
  overflow: auto;
  text-align: center;
  white-space: pre;
}
.popup .butt{
  position:absolute;
  border-radius: 10px;
  padding: 10px;
  left: 50%;
  text-decoration: none;
  bottom: 20px;
  margin-left:-50px;
  background-color: #f05627;
  box-shadow: 0px 4px grey;
}
.popup .butt:hover{
  background-color: #ff0000;
}
.popup .butt:active{
  background-color: #ff0000;
  transform: translateY(4px);
  box-shadow: 0px 2px #333;
}
#titl{
  display: block;
  white-space: initial;
  margin-top: 120px;
  align-self: center; 
  font-size: 30px;
  white-space: pre;
}
a span{
  font-size: 40px;
}
.header img{
  width:60px; 
  height: 60px; 
  opacity: 0.5; 
  border-radius: 40px;
}
@media screen and (max-width: 600px){ 
  #titl{
      margin-top: 250px;
      height: 30%;
      text-overflow:unset;
      font-weight:550;
      font-size:larger;
  }
  .col{
    display: inline-flex;
  }
  .boxes{
    height: 160px;
    width: 143px;
    font-size: small;
  }
  .popup{
    width:70vw;
    height:35vh;
    margin-top: 170px;
  }
  #inp{
    width:55vw;
  }
  .header{
    display: block;
    text-align: center;
    font-size: 20px;
  }
  .header img{
    width: 40px;
    height: 40px;
  }
  li{
    margin-left: auto;
  }
  a span{
    font-size: 30px;
  }
  .menu,.main{
    margin-top: 34vh;
  }
}
.search:hover{
  background-size: 48px 48px;
}
.search{
  transition: background-size 0.1s;
  background-position: center;
  background-size: 37px 37px;
  background-image: url('https://st2.depositphotos.com/1756201/11404/v/950/depositphotos_114047434-stock-illustration-magnifying-glass-icon-search-icon.jpg');
}

@media screen and (max-width:440px){
  #titl{
    font-size: large;
  }
  .menu,.main{
    margin-top: 25vh;
  }
  .boxes{
    height: 100px;
    width: 90px;
    font-size: xx-small;
  }
  svg{
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-height:600px){
  .popup .popupButtons{
    display: flex;
    justify-content: space-between;
  }
}